<div class="alert-message block-message warning">
<p>
<sup>1</sup> Условия перевозки животных и особых категорий пассажиров уточняйте у наших менеджеров или на сайте авиакомпании.<br>
<sup>2</sup> Условия провоза сверхнормативного багажа уточняйте у наших менеджеров или на сайте авиакомпании.<br>
<sup>3</sup> Нормы провоза бесплатного багажа уточняйте у наших менеджеров или на сайте авиакомпании.<br>
<sup>4</sup> Расписание на чартерные рейсы может быть изменено, пожалуйста, уточняйте расписание за 2 дня до вылета у менеджера или на нашем сайте.
</p>
</div>
