<div class="sidebar">
    <h6>Свяжитесь с нами</h6>
    <ul>
        <li>
            <strong>Бронирование туров</strong>
            Звоните +7-495-792-5838
        </li>
        <li>
            <strong>Бронирование авиабилетов</strong>
            Звоните +7-495-789-6558
        </li>
        <li>
            <strong>Для технической поддержки</strong>
            <a href="">Напишите здесь</a> для получение ответа
        </li>
    </ul>
</div>
