[% WRAPPER backoffice/page.tt2 %]

    <h1>Редактирование терминалов</h1>
    <p>
        <a class="btn btn-primary" href="/backoffice/terminal/create">Добавить терминал</a>
    </p>
    <p>
        [% WHILE (airport = airport_list.next) %]
            <a href="/backoffice/terminal/browse/[% airport.id %]" class="btn">[% airport.name %]</a>
        [% END %]
    </p>
    [% content %]

[% END %]


