[% WRAPPER common/charter/itinerary_wrapper.tt2
           javascript = "common/charter/itinerary.js.tt2"
           searchform = "common/charter/itinerary_search_form_RT.tt2" %]

    <h2>Редактирование тарифа RT на чартерный рейс</h2>

    [% INCLUDE common/charter/route_info.tt2
               timetable1 = timetable1
               timetable2 = timetable2 %]
    <p>[% message %]</p>
    [% form %]

[% END %]
