[% WRAPPER common/flight/flight_wrapper.tt2
           javascript = "common/flight/flight.js.tt2"
           include_datepicker = 1
           include_jquery_ui  = 1 %]

    [% IF result %]
        [% INCLUDE common/flight/results.tt2 %]
    [% END %]

[% END %]
