[% WRAPPER common/flight/flight_wrapper.tt2
           javascript = "common/flight/flight.js.tt2" %]

    [% INCLUDE backoffice/message.tt2 %]

    [% IF result %]
        [% INCLUDE common/flight/results.tt2 %]
    [% END %]

[% END %]
