[% WRAPPER backoffice/page.tt2 %]
    <h1>Редактирование марок самолетов</h1>
    <p>
        <a class="btn info" href="/backoffice/airplane/create">Добавить модель</a>
    </p>

    <p>
        [% WHILE (manufacturer = manufacturer_list.next) %]
            <a href="/backoffice/airplane/browse/[% manufacturer.id %]" class="btn">[% manufacturer.code %]</a>
        [% END %]
    </p>
    [% content %]
[% END %]

