<!DOCTYPE html>
<html lang="ru">
<head>
    <title>[% title %]</title>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="KgLflGmCYtgZ_pEDj3MYZW6cR6xImMpo-a-4nLI2PfA" />
    <meta name='yandex-verification' content='7969861cbf7472a8' />
    <meta name="msvalidate.01" content="DB75B5BDF715693DF1A5B663600C44A0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="/bootstrap/2.0/css/bootstrap.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <script type="text/javascript" src="/jscript/rpc.js"></script>
    <script type="text/javascript" src="/jscript/request.js"></script>


    <link href="/bootstrap/2.0/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/20111131/style.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js"></script>
    <script src="/bootstrap/2.0/js/bootstrap.js"></script>


    <style type="text/css">
        body {
            padding-top: 60px; /* 40px to make the container go all the way to the bottom of the topbar */
        }
    </style>

    <script type="text/javascript">
        $(function() {
            $('#topbar').dropdown();
            $('a[rel=popover]').popover({offset:10});
        });
    </script>

    [% IF javascript %]
       [% PROCESS $javascript %]
    [% END %]
</head>
<body>
    [% content %]

    <!-- script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script -->
</body>
</html>
