<html>
<head>
    <title>[% TITLE %]</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>
<body>
[% content %]

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script src="/jscript/rpc.js" type="text/javascript"></script>
<script src="/jscript/script.js" type="text/javascript"></script>
</body>
</html>
