<div class="sidebar">
    [% INCLUDE menu tree = sidebar_tree %]
</div>


[% BLOCK menu %]
    [% IF tree.size %]
        <ul>
        [% FOREACH item IN tree %]
            <li><a href="/article/[% item.value %]" title="[% item.label %]">[% item.label %]</a></li>
            [% INCLUDE menu tree = item.children %]
        [% END %]
        </ul>
    [% END %]
[% END %]
