[% WRAPPER common/doc4_yui_t5.tt2 title = article.subheader %]

<div class="row">
    <div class="span5">
        [% INCLUDE common/article/article_sidebar.tt2 stories = lower_level %]
    </div>
    <div class="span11">
        <h1>[% article.subheader %]</h1>
        [% article.body | html | wiki %]
    </div>
</div>
[% END %]
