[% WRAPPER backoffice/page.tt2 %]

    <h1>Редактирование стран</h1>
    <p>
        <a class="btn info" href="/backoffice/country/create">Добавить страну</a>
        <a class="btn"      href="/backoffice/country/">Список стран</a>
    </p>
    [% content %]

[% END %]
