.mono {
  font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  font-size: 90%; }

.top-borders {
  border-top: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  width: 100%; }
  .top-borders th {
    background-color: #eaeaea;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #d8d8d8;
    border-left: none;
    color: #333;
    padding: .5em .25em;
    font-weight: bold; }
  .top-borders td {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #e1e1e1;
    border-left: none;
    color: #000;
    padding: .5em .3em;
    vertical-align: middle; }
    .top-borders td.icon {
      width: 1.3em; }
    .top-borders td.icons4 {
      width: 7.8em; }
    .top-borders td.price {
      margin: 0;
      padding: .4em !important;
      font-size: 3em;
      font-weight: bold;
      text-align: center; }

div.text, div.label {
    background-color: inherit;
    font-weight: bold;
}


