[% WRAPPER backoffice/page.tt2 %]
    <h1>Частные клиенты</h1>
    <p>
        <a class="btn btn-info" href="/backoffice/customer/create">Добавить</a>
        <a class="btn" href="/backoffice/customer/">Список</a>
    </p>
    [% content %]
[% END %]
