[% WRAPPER page.tt2 %]

[% IF message %]
   [% message %]
[% END %]

[% IF article %]
  <h1>[% article.header %]</h1>
  <h2>[% article.body %]</h2>
[% ELSE %]
  <h1>Статья не передана ;(=</h1>
[% END %]

[% END %]
