[% WRAPPER backoffice/page.tt2  %]

    <p>
        <a class="btn info" href="/backoffice/fare/searchRT">Поиск тарифа RT</a>
        <a class="btn" href="/backoffice/fare/searchOW">Поиск тарифа OW</a>
        &nbsp;&nbsp;&nbsp;
        <a class="btn info" href="/backoffice/fare/viewRT">Все тарифы RT</a>
        <a class="btn" href="/backoffice/fare/viewOW">Все тарифы OW</a>
    </p>
    [% INCLUDE $searchform %]
    [% content %]

[% END %]
