[% WRAPPER backoffice/itinerary/itinerary_wrapper.tt2
           javascript = "backoffice/itinerary/itinerary.js.tt2"
           searchform = "backoffice/itinerary/itinerary_search_form_RT.tt2" %]

    <h2>Редактирование тарифа RT на чартерный рейс</h2>

    [% INCLUDE backoffice/itinerary/route_info.tt2
               timetable1 = timetable1
               timetable2 = timetable2 %]
    [% INCLUDE backoffice/message.tt2 %]
    [% form %]

[% END %]
