a {
    text-decoration: none;
    color: #1a74b0;
}

a:hover { text-decoration: underline; }

h1 { font-size: 182%; }
h2 { font-size: 167%; }
h3 { font-size: 153.9%; }
h4 { font-size: 138.5%; }
h5 { font-size: 123.1%; }
h6 { font-size: 108% }

h1, h2, h3, h4, h5, h6 { margin: .5em 0; }


.text14px { font-size: 108%; }
.text14px p { line-height: 1.5em; text-align: justify; }

/**LIST**/

ul.tabs{
    position:relative;
    margin:10px 0 0 0;
    height:26px;
    padding:6px 10px;
    border:1px solid #ddd;
    background: #e3e3e3;
}

ul.tabs li {
    list-style-type:none;
    margin:0;
    display:inline;
}

ul.tabs li a{
    float:left;
    margin-right:10px;
    height:26px;
    padding:0 8px;
    line-height:26px;
    font-size:14px;
}

ul.tabs li a:hover {
    color:#333;
    background-color:#ccc;
    text-decoration:none;
}

ul.tabs li a.selected {
    position:relative;
    top:-1px;
    font-weight:bold;
    color:#333;
    background:#fff;
    border:1px solid #ccc;
    border-right-color:#eee;
    border-bottom-color:#eee;
}

.subnav-bar{
    position:relative;
    height:30px;
    padding:0;
    border:1px solid #ddd;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #d2d2d2;
    z-index:3;
}

ul.subnav-bar {
    position:relative;
    margin: 0;
}

ul.subnav-bar li {
    list-style-type:none;
    margin:0;
    display:inline;
}

ul.subnav-bar li a {
    position:relative;
    float: left;
    height:15px;
    padding:5px 5px;
    font-size:12px;
    text-decoration:none;
    color:#666;
    border:1px solid transparent;
}

ul.subnav-bar li:hover a {
    color:#333;
    background-color:#f8f8f8;
    border-color:#ccc;
}

/** BUTTON **/
.button {
    margin: 1em 0 0 0;
    text-align:center;
    padding: 1em;
    display: block;
    background: #777;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 1px 1px #666;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/** FORM **/
label {
    display: block;
    margin: .5em 0;
    font-weight: bold;
}

textarea, select, input[type=text] {
    display: block;
    width:100%;
    border: solid #cacaca 1px;
    background: #fff;
    padding: .25em;
    font: 12px "Courier New", "Lucida Console", monospace;
}

textarea:focus, select:focus, input:focus {
    border: 2px solid #8CD6F9;
}

/** TABLES **/

#browser table {
    margin-top: 1em;
    border-top:1px solid #d8d8d8;
    border-left:1px solid #d8d8d8;
    border-right:1px solid #d8d8d8;
    width:100%;
    font-family:Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    font-size:90%;
}

#browser table th {
    text-align:left;
    font-weight:normal;
    background-color:#eaeaea;
    color:#999;
    padding:.5em .3em;
    border-bottom:1px solid #d8d8d8;
}

#browser table td {
    background:#f8f8f8;
    padding:.5em .3em;
    color:#484848;
    border-bottom:1px solid #e1e1e1;
}

#browser table td.icon{
    width:7.8em;
}

#browser table td.delete{
    width:1.3em;
}


/** SIDEBAR **/
.sidebar {
    margin: 1em  0.75em  1em  0;
}


.sidebar h6 {
    margin: .5em 0 1em .75em;
}


.sidebar ul {
    list-style: none;
    margin: 0 0 0 .75em;
    padding: 0;
}

.sidebar ul li {
    list-style-type:none;
    padding: 0 !important;
    margin: .75em 0 !important;
}

.sidebar strong {
    display: block;
}










